<!-- myapp/templates/index.html -->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Summarizer</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form method="post" action="output">-->
<!--        {% csrf_token %}-->
<!--        <label for="data">Input Data:</label>-->
<!--        <textarea name="data" rows="4" cols="50"></textarea><br>-->
<!--        <label for="maxL">Max Length:</label>-->
<!--        <input type="number" name="maxL" value="300"><br>-->
<!--        <input type="submit" value="Summarize">-->
<!--    </form>-->

<!--    {% if result %}-->
<!--        <h3>Summary:</h3>-->
<!--        <p>{{ result }}</p>-->
<!--    {% endif %}-->
<!--</body>-->
<!--</html>-->

{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarizer</title>
    <!-- Add Font Awesome link (make sure to include this in your project) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'summarease.css' %}">

</head>

<body>
    <div id="leftPane" class="sidebar" onclick="toggleLeftPane()">
        <header><h3>SummarEase</h3></header>
        <ul>
            <li><a href="{% url 'index' %}"><i class="fas fa-file-alt icon" style="color: rgb(0, 138, 119);"></i> Text Summarizer</a></li>
            <li><a href="{% url 'summarize' %}"><i class="fas fa-file-pdf icon" style="color: blue;"></i> PdfSummarizer</a></li>

            <li><a href="{% url 'home' %}" ><i class="fas fa-sign-out-alt icon" style="color: red;"></i> Logout</a></li>
        </ul>
    </div>
    <div id="mainButton" onclick="toggleLeftPane()">Main Button</div>
    <div id="mainContent">
        <div class="top">
            <div class="linesContainer">
                <div>
                    <div id="control-panel">
                        <!-- Clickable icons using Font Awesome -->
                        <h3 style="color: rgb(8, 113, 113);"> <b>Text Summarizer </b></h3>
                                <label for="maxL">Max Length:</label>
                                <input type="number" name="maxL" value="300"><br>
<!--                        <p style="margin-left: 30px;"> Short</p>-->
<!--                        <input type="range" min="0" max="100" value="50" id="line-length-slider">-->
<!--                        <p>Long</p>-->
                        <i class="fas fa-microphone " id="microphonebutton"> </i>
                        <i class="fas fa-language" for="targetlanguage"  id="translatebutton"></i>
                        <select name="target_language" id="target_language">
                            <option value="en">English</option>
                            <option value="es">Spanish</option>
                            <option value="fr">French</option>
                            <!-- Add more language options as needed -->
                        </select>
                        <button id="deletebutton" title="Delete" onclick="deleteOutput()" ><i class="fas fa-trash-alt larger-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <form id="summarizeForm" action="output">
                {% csrf_token %}
                <div class="left">
                    <textarea ondragstart="return false;" for="data" id="inputText" type="text" name="user_input" rows="4" cols="30" required></textarea>
                    <button id="button">Summarize</button>
                </div>
            </form>
            <div class="right">
                {% if result %}
                <div id="output">
                    {{ result }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
    <script>
        // Add your JavaScript logic here
    </script>
</body>
</html>

